@media screen and (max-width: 768px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    header .container nav{
        margin-bottom: 15px;
    }

    .filme-principal{
        background-size: 100% 100%;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;
        height: 75vh;
    }

    .filme-principal h2{
        display: inline-block;
        text-align: center;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }
}

@media screen and (min-width: 1000px){
    .descricao{
        width: 65%;
    }
}